.settingsContainer {
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
}


.changeTheme {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50px;
    top: 50px;
    background-color: var(--color-white);
    border-radius: 50%;
}

.changeTheme.active {
    transition: 1s;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--color-black);
    border-radius:0;
}